awesome-slugify==1.6.5
click==6.7
Jinja2==2.9.6
livereload==2.5.1
lxml==3.8.0
Markdown==2.6.8
markdown-include==0.5.1
MarkupSafe==1.0
mkdocs==0.16.3
mkdocs-alabaster==0.7.4
mkdocs-basic-theme==1.0.1
mkdocs-boost==0.0.2
mkdocs-bootstrap==0.1.1
mkdocs-bootswatch==0.4.0
mkdocs-cinder==0.9.4
mkdocs-cluster==0.0.7
mkdocs-extensions==0.1.2
mkdocs-inspired==1.0.1
mkdocs-jinks==0.1.1
mkdocs-juice==1.0.1
mkdocs-jwplayer==0.0.3
mkdocs-material-components==1.7.9
mkdocs-pandoc==0.2.6
mkdocs-psinder==0.4.0
mkdocs-tree==1.0.1
mkdocs-unidata==1.5.6
mkdocs-windmill==0.1.2
mkdocs-windmillex==0.0.1
mkDOCter==1.0.3
Pygments==2.2.0
pymdown-extensions==3.5
PyYAML==3.12
regex==2017.7.28
six==1.10.0
tornado==4.5.1
Unidecode==0.4.21
